@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
body{
    color:#504d47;
}
#skill_view{
    position: relative;
}
#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: #55524c;
    color: white;
    text-align: center;
    height: 75px;
    line-height: 75px;
    font-size: 27px;
    z-index: 1000000;
}
#banner_wrapper{
    position: relative;
    margin-top:75px;
    height: 273px;
    overflow: hidden;
}
.img_wrapper{
    position: absolute;
    top:0;
    width: 100%;
    height: inherit;
    background-size: cover;
}
#controls_wrapper{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 5px;
    bottom: 6%;
}
.img_control{
    position: absolute;
    width: 40px;
    background: grey;
    height: inherit;
    border-radius: 2px;
    opacity: 0.4;
}
.img_active{
    background: white;
    opacity: 1;
}
#tabs{
    position: relative;
    border-bottom: 1px solid #ddd;
    margin: 0 8px;
}
#tabs > *{
    display: inline-block;
    margin:0 8px 1px 8px;
    width: 140px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 27px;
    color: #555;
}
.tab-active{
    color: #03a9f4;
    border-bottom: 3px solid #03a9f4;
}
#tabsPanelsWrapper{
    position: relative;
}
.tabs_panels{
    display: none;
    overflow: auto;
}
.item-type{
    display: flex;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    height: 70px;
}
.item-type > span{
    font-size: 27px;
    align-self: center;
}
.item-type > span:nth-child(1){
    margin-left: 25px;
    margin-right: auto;
}
.item-type > span:nth-child(2){
    margin-right: 25px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    background-color: white;
    color: #03a9f4;
    border-radius: 6px;
}
.panel{
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 180px;
}
.item-logo{
    position: absolute;
    top:25px;
    left: 25px;
    width: 130px;
    height: 130px;
    border-radius: 10%;
    background-size: cover;
}
.item-title{
    position: absolute;
    top:25px;
    left: 190px;
    font-size: 27px;
}
.item-charge{
    position: absolute;
    top:25px;
    right: 30px;
    color: #f75b43;
    font-size: 24px;
}
.item-device,.item-evaluation{
    position: absolute;
    top:65px;
    left: 190px;
    color: #a4a3a1;
    font-size: 20px;
}
.item-stars{
    position: absolute;
    top:33px;
    left: 400px;
}
.item-evaluation{
    left: 400px;
}
.item-getskill{
    position: absolute;
    font-size: 21px;
    top:115px;
    right: 30px;
    padding: 6px 16px;
    border-radius: 6px;
    background-color: #4E8593;
    color: white;
}
.item-content,.item-content-myskill{
    position: absolute;
    top:105px;
    left: 190px;
    width: 320px;
    font-size: 18px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-content-myskill{
    width: 420px;
}
#pay,#confirmWindow{
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 1000000;
    /*display: none;*/
}
#pay_panel{
    position: absolute;
    background-color: white;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px #666;
}
#pay_panel img{
    position: absolute;
    left: 30px;
    top:10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
#pay_panel span{
    position: absolute;
    right: 0;
    height: 70px;
    line-height: 70px;
    display: block;
    width: 400px;
    text-align: center;
    font-size: 24px;
}
#pay_panel > div{
    position: relative;
    height: 70px;
    margin: 20px 15px;
    border: 1px solid grey;
    border-radius: 6px;
}
#confirmWindow{
    /*display: block;*/
}
#DBCConfirm{
    position: absolute;
    background-color: white;
    width: 360px;
    height: 160px;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -80px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px #666;
}
#confirmTitle{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    color: #777;
    border-bottom: 1px solid #ccc;
}
.bt-wrapper{
    position: relative;
    height: 59px;
}
.bt-wrapper > div{
    display: inline-block;
    height: 59px;
    line-height: 59px;
    width: 179px;
    font-size: 24px;
}
.bt-wrapper > div:nth-child(1){
    border-right: 1px solid #ccc;
    color: #555;
}
.bt-wrapper > div:nth-child(2){
    color: #87C65C;
}

/*智慧家庭*/
#smartHome{
    text-align: center;
    padding: 70px;
    font-size: 50px;
    color: #d5d5d5;
}

/*我的账户*/
#myAccount{
    text-align: center;
    padding: 70px;
    font-size: 50px;
    color: #d5d5d5;
}